@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

header>div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.npmLogo {
    width: 100px;
    margin-right: 1rem;
}

form {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

form .search-icon {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.5;
}

form input[type="text"] {
    width: 950px;
    padding: 10px 40px 10px 15px;
    border: 1px solid #eeeeee;
    font-size: 20px;
    background-color: #eeeeee;
    color: rgba(0, 0, 0, 0.8);
    outline: none;
}

form button[type="submit1"] {
    background-color: #fb3e44;
    color: white;
    border: 1px solid #eeeeee;
    padding: 13px 20px;
    margin-left: 0px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

div button[type="submit"] {
    background-color: rgb(255, 255, 255);
    color: rgb(19, 18, 18);
    border: none;
    padding: 14px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: -15px;
}

div button[type="submit"]:hover {
    background-color: white;
    border: 1px solid black;
}

.content-wrapper-s1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    height: 100;
    width: 100;
    background-color: rgba(232, 217, 217, 0.3);

}

.content-wrapper-s1 h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Centra el contenido verticalmente */
    align-items: center;
    /* Centra el contenido horizontalmente */
    text-align: center;
    /* Centra el texto dentro del contenedor */
    font-size: 100px;
    /* Tamaño del título */
    color: #333;
    /* Color del texto */
}

.content-wrapper-s1 p {
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
    margin-top: -10px;
    margin-right: 350px;
    margin-left: 350px;
    margin-bottom: 30px;
    color: #666;
}

.content-wrapper-s1 button {
    display: inline-block;
    flex-direction: row;
    padding: 20px 30px;
    margin: 30px;
    font-size: 20px;

}

.buttons-s1 .seeplans {
    background-color: #FB3B49; 
    border: none;
    color: white; 
    box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2); 
}

.buttons-s1 .joinfree {
    background-color: none; /* Color de fondo azul */
    color: black; /* Color del texto */
    border:none;
}


.content-wrapper-s2 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    background-color: none; 
    padding: 60px; 
    width: 100;
    max-width: 100%; 
    position: relative;
}

.content-wrapper-s2 img {
    width: 200px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-bottom: 50px; /* Espacio debajo de la imagen */
}


.content-wrapper-s2 h1 {
    font-size: 36px; /* Tamaño del título */
    background-color: rgba(255, 204, 53, 0.4);
    padding-right: 30px;
    padding-left: 30px;
    transform: skew(20deg,0deg);
    color: #333; /* Color del texto */
    margin: 0; /* Elimina el margen para asegurar un ajuste preciso */
    font-style: italic; /* Estilo en cursiva para el título */
}


.content-wrapper-s2 p {
    font-size: 20px; 
    line-height: 1.5;
    color: #666; 
    margin-top: 20px; 
    margin-right: 290px;
    margin-left: 290px;
    margin-bottom: 30px;
}

#section3 {
display:flex;
}
.content-wrapper-s3 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    width: 300px; 
    padding: 20px; 
    margin: 20px; 
    background-color: white; 
}

.content-wrapper-s3 img {
    width: 30px; 
    margin-bottom: 0px; 
    margin-right:250px;
}


.content-wrapper-s3 h3 {
    color: #ED1C24; 
    margin: 10px 0; 
    font-size: 24px;
}


.content-wrapper-s3 p {
    font-size: 16px; 
    line-height: 1.5;
    color: #666; 
    margin-bottom: 20px; 
}


.buttons-s3 {
    display: flex;
    justify-content: center; 
    margin-top: 30px;
    margin-bottom: 80px;
}

.buttons-s3 .org{
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    background-color: black; 
    border: none;
    color: white; 
    box-shadow: 8px 8px 0 rgba(161, 158, 158, 0.2); 
}

